---
import { Paragraph, Typography } from '@/components/Typography';
import { PLANES } from '@/constants/content';
import { LinkButton, OutlinedButton } from '@/partials/Button';
import Modal from '@/partials/Modal';
import { Plan } from '@/partials/Plan';
import { Section } from '@/partials/Section';
import Banner from '@/templates/Banner.astro';
import { newTitle, newWhatsappMessage } from '@/utils/Functions';

import { SideDrawer } from '../partials/Side';
import SectionStyles from '../styles/Section.module.scss';
---

<Banner
  head={{ title: newTitle('Planes'), description: 'Conoce nuestros planes.' }}
  content={{
    title: 'Planes',
    priority: 3,
  }}
  isHalf
>
  <main id="main-content">
    <Section className="mx-auto w-full max-w-[1100px] lg:w-10/12">
      <Typography variant="h2" className="w-9/12">Empecemos hoy.</Typography>
      <Paragraph className="mt-4">
        Para dar inicio al proceso de entrenamiento con School Cycling, deberás
        llenar la ficha de antecedentes personales y deportiva. Gracias a la
        información recolectada te podemos ayudar a escoger el plan que más se
        ajuste a tus metas. Contamos con más de 12 planes de entrenamientos
        estructurados para cada disciplina. Si tienes dudas, estamos para ti,
        contactanos y te responderemos a la brevedad
      </Paragraph>
      <div class="mt-6 flex flex-row flex-wrap items-center gap-1">
        <OutlinedButton
          href={newWhatsappMessage(
            'Hola! Quiero rellenar el formulario para saber que plan se acomoda a mis necesidades.'
          )}
          target="_blank"
          rel="noopener noreferrer">Empecemos</OutlinedButton
        >
        <LinkButton
          target="_blank"
          rel="noopener noreferrer"
          href={newWhatsappMessage('Hola! Necesito ayuda para elegir un plan.')}
        >
          <div class="flex items-center gap-2">
            <i class="fa-brands fa-whatsapp fa-xl"></i>
            <span class="underline">Hablemos</span>
          </div>
        </LinkButton>
      </div>
    </Section>
    {
      PLANES.map((p) => {
        return <Plan {...p} />;
      })
    }
    <Section
      hasIn
      hasOut
      bgColor="#00E9E9"
      image={{
        src: '/static/images/ashkan-forouzani-29rLpFM74PE-unsplash-removebg-preview.png',
        alt: 'None',
        onLargeGoesFirst: true,
        className: SectionStyles.lastHomeImage,
      }}
    >
      <Typography variant="h2">¿Tienes dudas?</Typography>
      <Paragraph className="mt-4"
        >Comenzar tu camino con nosotros es muy fácil, solo debes completar un
        formulario que nos permitirá conocerte mejor y designaremos un plan que
        se ajuste a tus necesidades y metas. Contamos con más de 12 planes de
        entrenamientos estructurados para cada disciplina. Si tienes dudas, solo
        nos consultas y te responderemos lo antes posible.</Paragraph
      >
      <div class="mt-6 flex flex-row items-center gap-1">
        <OutlinedButton
          href={newWhatsappMessage('Hola! Necesito ayuda para elegir un plan.')}
          target="_blank"
          rel="noopener noreferrer"
          ><div class="flex items-center gap-2">
            <i class="fa-brands fa-whatsapp fa-xl"></i>
            <span>Hablemos</span>
          </div>
        </OutlinedButton>
      </div>
    </Section>
  </main>
  <SideDrawer id="js--payment-drawer" />
  <Modal
    title="Un momento!"
    content="Recomendamos encarecidamente que rellenes el formulario para que podamos definir el plan que mejor se adapta a tus metas. Recuerda que una vez pagado tienes que enviar tu comprobante a nuestro Whatsapp."
    id="un-momento_modal"
    buttons={{ back: 'Volver', action: 'Entendido' }}
  />
</Banner>
<script>
  import { Planes } from '@/app/Plan';
  import { Parallax } from '../app/Parallax';
  new Parallax('.planes', { magnitude: 3 });
  new Planes();
</script>
